@import "tailwindcss";

.sidebar-scroll {
  scrollbar-width: thin; /* Cho Firefox */
  scrollbar-color: rgba(71, 85, 105, 0.5) transparent; /* Cho Firefox */
}

/* Cho Chrome, Safari và Edge */
.sidebar-scroll::-webkit-scrollbar {
  width: 5px; /* Độ rộng thanh cuộn */
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent; /* Nền của thanh cuộn */
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(71, 85, 105, 0.4); /* Màu của thanh trượt (Slate-600) */
  border-radius: 20px; /* Bo góc thanh trượt */
  transition: background-color 0.3s ease;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(59, 130, 246, 0.5); /* Đổi sang màu Xanh Blue khi hover vào sidebar */
}